<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">eDomoupravitel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/companies">Companies</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/buildings">Buildings</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/employees">Employees</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/apartments">Apartments</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/payments">Payments</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>

</html>